.navbar {
    font-family: Montserrat, sans-serif;
    margin-bottom: 0;
    background-color: #2d2d30;
    border: 0;
    font-size: 11px !important;
    letter-spacing: 4px;
    opacity: 0.9;
}
.navbar li a, .navbar .navbar-brand { color: #d5d5d5 !important; }
.navbar-nav li a:hover { color: #fff !important; }
.navbar-nav li.active a { color: #fff !important; background-color: #29292c !important; }
.navbar-nav li button { border:none; color: #d5d5d5 !important; }
.navbar-nav li:last-child a { margin-right: 10px; }
.navbar-default .navbar-toggle { border-color: transparent; }
.open .dropdown-toggle { color: #fff; background-color: #555 !important; }
.dropdown-menu { background-color: #fff !important; }
.dropdown-menu li a { color: #000 !important; }
.dropdown-menu li a:hover { background-color: red !important; }
footer {
    background-color: #2d2d30;
    color: #f5f5f5;
    padding: 0px;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here - set margin-bottom in style.css as well */
    height: 50px;
}
footer h6 { margin-top: 0px; margin-bottom: 4px; }
footer a { color: #f5f5f5; }
footer a:hover { color: #777; text-decoration: none; }
i.red { color: #BC0213; }