.wrap{
	margin:0 auto;
	
}
.logo{
	margin-top:50px;
}	
.logo h1{
	font-size:200px;
	color:#1abc9c;
	
	margin-bottom:1px;
	text-shadow:1px 1px 6px #fff;
}	
.logo p{
	color: #1abc9c;
	font-size:20px;
	margin-top:1px;
	
}	
.logo p span{
	color:lightgreen;
}	
.sub a{
	color:white;
	background:#1abc9c;
	text-decoration:none;
	padding:7px 120px;
	font-size:13px;
	font-family: arial, serif;
	font-weight:bold;
	border-radius:.1em;
	-webkit-border-radius:3em;
	-moz-border-radius:.1em;
}
.footer{
	color:#1abc9c;
	position:absolute;
	right:10px;
	bottom:10px;
}	
.footer a{
	color:rgb(228, 146, 162);
}	